@using BrzaPosta.ViewModels
@model AdresaPrikaziVM


<div class="sadrzajDiv">

    <form>

        <div class="form-group">
            <label class="control-label" for="readOnlyInput1">Region</label>
            <input asp-for="Drzava.Region.Naziv" class="form-control" id="readOnlyInput1" type="text" readonly="">
        </div>

        <div class="form-group">
            <label class="control-label" for="readOnlyInput2">Drzava</label>
            <input asp-for="Drzava.Naziv" class="form-control" id="readOnlyInput2" type="text" readonly="">
        </div>
        <div class="form-group">
            <label class="control-label" for="readOnlyInput3">Grad</label>
            <input asp-for="Grad.Naziv" class="form-control" id="readOnlyInput3" type="text" readonly="">
        </div>

    </form>

    <div id="nekiID"></div>

    <br />
    <a class="btn btn-outline-info" href='javascript:history.go(-1)'><i class="fas fa-backward"></i> Nazad</a>
</div>


<script>
    $(document).ready(function () {
        $.get("/Adresa/Index?GradID=@Model.GradID",
            function (rezultat) {
                $("#nekiID").html(rezultat);
            }
        )
    });
</script>