
@model ReflectionIT.Mvc.Paging.PagingList<RegionIndexVM>
@using ReflectionIT.Mvc.Paging
@addTagHelper *, ReflectionIT.Mvc.Paging

@{
    ViewData["Title"] = "Prikazi";
    int brojac = 1;

    string porukaSuccess = TempData["poruka-success"] as string;
}


<div class="sadrzajDiv">
    @if (porukaSuccess != null)
    {
        <div class="alert alert-success" id="porukaBox">
            @porukaSuccess
        </div>
    }

    <nav aria-label="Suppliers navigation example" style="display:inline-block">
        @await this.Component.InvokeAsync("Pager", new { pagingList = this.Model })
    </nav>

    <a id="myBtn" modal-poziv='da' modalUrl="/Region/UrediForm" class="btn btn-outline-primary btn-lg" style="float:right; margin-bottom:5px; display:inline-block"><i class="fas fa-plus"></i> Dodaj</a>
    <table class="table table-bordered table-hover" style="margin:5px 0;">
        <thead class="table-light">
            <tr>
                <th scope="col" colspan="3">Regioni</th>
            </tr>
        </thead>
        <tbody class="table-light table-hover">
            @foreach (var x in Model)
            {

                <tr>
                    <td>@(brojac++)</td>
                    <td>@x.Naziv</td>
                    <td>
                        <a id="myBtn" modal-poziv='da' modalUrl="/Region/UrediForm?Id=@x.Id" class="btn btn-outline-secondary"><i class="far fa-edit"></i></a>
                        <a href="/Region/Obrisi?Id=@x.Id" class="btn btn-outline-warning"><i class="far fa-trash-alt"></i></a>
                    </td>
                </tr>
            }
        </tbody>
    </table>


    <nav aria-label="Suppliers navigation example">
        <vc:pager paging-list="@Model" />
    </nav>

    <!-- The Modal -->
    <div id="myModal" class="modal">

        <!-- Modal content -->
        <div class="modal-content">
            <div class="modal-header">
                <h3 style="padding:5px;">Uredi region</h3>
                <span class="close">&times;</span>
            </div>
            <div class="modal-body">
            </div>
            <div class="modal-footer">
                <div class="logo" style="padding:0 10px">
                    <img src="~/images/fast_delivery.png" style="width:45px; height:40px; padding:5px;" />
                    <span style="font-size:1.3em;">BrzaPošta</span>
                </div>
            </div>
        </div>

    </div>


    <br />
    <a class="btn btn-outline-info" asp-action="Index" asp-controller="Home" asp-route-DostavaID=""><i class="fas fa-backward"></i> Nazad</a>
</div>

<script>
    // Get the modal
    var modal = document.getElementById("myModal");

    // Get the button that opens the modal
    //var btn = document.getElementById("myBtn");

    // Get the <span> element that closes the modal
    var span = document.getElementsByClassName("close")[0];

    // When the user clicks the button, open the modal
    $("a[modal-poziv='da']").click(function () {
        modal.style.display = "block";

        var btn = $(this);
        var url = btn.attr("modalUrl");

        $.get({
            url: url,
            success: function (rez) {
                $(".modal-body").html(rez);
            }
        });
    });


    // When the user clicks on <span> (x), close the modal
    span.onclick = function () {
        modal.style.display = "none";
    }

    // When the user clicks anywhere outside of the modal, close it
    window.onclick = function (event) {
        if (event.target == modal) {
            modal.style.display = "none";
        }
    }
</script>




