
@{
    ViewData["Title"] = "Prikazi";
}



<div class="sadrzajDiv">

    <table class="table table-light table-bordered">
        <thead>
            <tr>
                <th colspan="4">Aktivne sesije</th>
            </tr>
        </thead>
    </table>

    <div class="search-session">

        <input type="text" class="form-control" id="searchInput" placeholder="Unesi korisnika za pretragu..." />

    </div>


    <div id="searchDiv"></div>

    <br />
    <a class="btn btn-outline-info" asp-action="Index" asp-controller="Home" asp-route-DostavaID=""><i class="fas fa-backward"></i> Nazad</a>
</div>

<script>
    $(document).ready(function () {

        $.get({
            url: "/Sesija/Index",
            success: function (rez) {
                $("#searchDiv").html(rez);
            }
        })
    });


    $("input").keyup(function () {

        var keyword = $(this).val();
        $.get({
            url: "/Sesija/Index?keyword="+keyword,
            success: function (rez) {
                $("#searchDiv").html(rez);
            }
        })

    });

    $("input").keydown(function () {

        var keyword = $(this).val();
        $.get({
            url: "/Sesija/Index?keyword=" + keyword,
            success: function (rez) {
                $("#searchDiv").html(rez);
            }
        })

    });

</script>


